- avatar_size_class = sidebar_refactor_disabled? ? 's40' : 's32'
- avatar_classes = ['avatar-container', 'rect-avatar', 'settings-avatar']
- avatar_classes << avatar_size_class

%aside.nav-sidebar{ class: ("sidebar-collapsed-desktop" if collapsed_sidebar?), 'aria-label': _('Security navigation') }
  .nav-sidebar-inner-scroll
    .context-header
      = link_to security_dashboard_path, title: _('Security Dashboard'), id: 'logo' do
        %span{ class: avatar_classes }
          = brand_header_logo
        %span.sidebar-context-title
          = _('Security')
    %ul.sidebar-top-level-items
      = nav_link(path: %w[dashboard#show]) do
        = link_to security_dashboard_path, class: 'shortcuts-project rspec-project-link' do
          .nav-icon-container
            = sprite_icon('dashboard')
          %span.nav-item-name
            = _('Security Dashboard')
      = nav_link(path: %w[vulnerabilities#index]) do
        = link_to security_vulnerabilities_path, class: 'shortcuts-project rspec-project-link' do
          .nav-icon-container
            = sprite_icon('list-bulleted')
          %span.nav-item-name
            = _('Vulnerability Report')
      = nav_link(path: %w[dashboard#settings]) do
        = link_to settings_security_dashboard_path, class: 'shortcuts-project rspec-project-link' do
          .nav-icon-container
            = sprite_icon('settings')
          %span.nav-item-name
            = _('Settings')

    = render 'shared/sidebar_toggle_button'
